Makefile
Makefile.in
config.h*
/config.*
.deps/
aclocal.m4
autom4te.cache/
compile
configure
depcomp
install-sh
libtool
ltmain.sh
missing
src/bin/nxwebc
src/include/nxweb/stamp-h1
src/lib/nxweb.pc
*.o
*.lo
.libs/
.dirstamp
sample_config/modules/sample_modules.so
src/bin/nxweb
src/lib/libnxweb.la
